body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1677px;
  height:61px;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1677px;
  height:61px;
  display:flex;
}
#u5179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:840px;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:260px;
  height:840px;
  display:flex;
}
#u5180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:841px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:61px;
  width:1422px;
  height:841px;
  display:flex;
}
#u5181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5182 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:101px;
  width:110px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u5182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5183 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:149px;
  width:1300px;
  height:74px;
}
#u5184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:34px;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:34px;
  display:flex;
}
#u5184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:34px;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:0px;
  width:658px;
  height:34px;
  display:flex;
}
#u5185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:34px;
}
#u5186 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:0px;
  width:209px;
  height:34px;
  display:flex;
}
#u5186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:40px;
}
#u5187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:433px;
  height:40px;
  display:flex;
}
#u5187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:40px;
}
#u5188 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:34px;
  width:658px;
  height:40px;
  display:flex;
}
#u5188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:34px;
  width:209px;
  height:40px;
  display:flex;
  color:#4285F4;
}
#u5189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:26px;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:61px;
  width:1422px;
  height:26px;
  display:flex;
}
#u5190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:108px;
  width:84px;
  height:16px;
  display:flex;
}
#u5191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5192_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:103px;
  width:94px;
  height:30px;
  display:flex;
}
#u5192 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5192_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5192.disabled {
}
.u5192_input_option {
}
#u5193 {
  position:fixed;
  left:50%;
  margin-left:-377.5px;
  top:50%;
  margin-top:-243.5px;
  width:755px;
  height:487px;
  visibility:hidden;
}
#u5193_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:487px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5193_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:469px;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:743px;
  height:469px;
  display:flex;
}
#u5194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:420px;
  width:137px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
